 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1594px;
}

.u-section-1 .u-group-1 {
  min-height: 408px;
  height: auto;
  width: 325px;
  margin: 146px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  min-height: 213px;
  height: auto;
  background-image: url("images/exterior-civic-xi-img-01.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 11px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: -11px 28px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 9px 0 0;
  padding: 10px 59px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0;
  padding: 10px 113px;
}

.u-section-1 .u-group-3 {
  min-height: 408px;
  height: auto;
  width: 325px;
  margin: -408px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  min-height: 213px;
  height: auto;
  background-image: url("images/mg-gt-front-quarter-63f5b8172ca59.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 11px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: -11px auto 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 9px 0 0;
  padding: 10px 59px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0;
  padding: 10px 113px;
}

.u-section-1 .u-group-5 {
  min-height: 408px;
  height: auto;
  width: 325px;
  margin: -408px auto 0 815px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  min-height: 213px;
  height: auto;
  background-image: url("images/PAJEROSPORT_D_03.webp");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 11px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  margin: -11px 19px 0;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 9px 0 0;
  padding: 10px 59px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0;
  padding: 10px 113px;
}

.u-section-1 .u-group-7 {
  min-height: 408px;
  height: auto;
  width: 325px;
  margin: 65px auto 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  min-height: 213px;
  height: auto;
  background-image: url("images/subaru-brz-1-4de6_wm.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  margin: 11px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  margin: -11px 16px 0;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 9px 0 0;
  padding: 10px 59px;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0;
  padding: 10px 113px;
}

.u-section-1 .u-group-9 {
  min-height: 408px;
  height: auto;
  width: 325px;
  margin: -409px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  min-height: 213px;
  height: auto;
  background-image: url("images/2022-toyota-fortuner-exterior-quarter-front-philippines-62fefdab14b9b.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  margin: 11px auto 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.875rem;
  margin: -11px 20px 0;
}

.u-section-1 .u-btn-9 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 9px 0 0;
  padding: 10px 59px;
}

.u-section-1 .u-btn-10 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0;
  padding: 10px 113px;
}

.u-section-1 .u-group-11 {
  min-height: 408px;
  height: auto;
  width: 325px;
  margin: -407px 0 0 auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  min-height: 213px;
  height: auto;
  background-image: url("images/2023-Ford-Ranger.webp");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.875rem;
  margin: 14px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  margin: -12px 22px 0;
}

.u-section-1 .u-btn-11 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 7px 0 0;
  padding: 10px 59px;
}

.u-section-1 .u-btn-12 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0;
  padding: 10px 113px;
}

.u-section-1 .u-group-13 {
  min-height: 408px;
  height: auto;
  width: 325px;
  margin: 83px auto 0 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  min-height: 213px;
  height: auto;
  background-image: url("images/2023-Mazda-MX-5-RF-Club-front-three-quarter-view-25.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.875rem;
  margin: 11px auto 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.875rem;
  margin: -11px 16px 0;
}

.u-section-1 .u-btn-13 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 9px 0 0;
  padding: 10px 59px;
}

.u-section-1 .u-btn-14 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0;
  padding: 10px 113px;
}

.u-section-1 .u-group-15 {
  min-height: 408px;
  height: auto;
  width: 325px;
  margin: -408px auto 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  min-height: 213px;
  height: auto;
  background-image: url("images/2023-nissan-navara-62b1659be561a.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.875rem;
  margin: 11px auto 0;
}

.u-section-1 .u-text-16 {
  font-size: 1.875rem;
  margin: -11px 24px 0;
}

.u-section-1 .u-btn-15 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 9px 0 0;
  padding: 10px 59px;
}

.u-section-1 .u-btn-16 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0;
  padding: 10px 113px;
}

.u-section-1 .u-group-17 {
  min-height: 408px;
  height: auto;
  width: 325px;
  margin: -408px 0 60px auto;
}

.u-section-1 .u-container-layout-17 {
  padding: 0;
}

.u-section-1 .u-image-9 {
  min-height: 213px;
  height: auto;
  background-image: url("images/img-3238-cb02_wm.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-18 {
  padding: 0;
}

.u-section-1 .u-text-17 {
  font-size: 1.875rem;
  margin: 11px auto 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.875rem;
  margin: -12px 18px 0;
}

.u-section-1 .u-btn-17 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px 0 0;
  padding: 10px 59px;
}

.u-section-1 .u-btn-18 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0;
  padding: 10px 113px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 84px;
    padding-left: 84px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-image-2 {
    height: auto;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 84px;
    padding-left: 84px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 615px;
    height: auto;
  }

  .u-section-1 .u-image-3 {
    height: auto;
  }

  .u-section-1 .u-btn-6 {
    padding-right: 84px;
    padding-left: 84px;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-image-4 {
    height: auto;
  }

  .u-section-1 .u-btn-8 {
    padding-right: 84px;
    padding-left: 84px;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-image-5 {
    height: auto;
  }

  .u-section-1 .u-btn-10 {
    padding-right: 84px;
    padding-left: 84px;
  }

  .u-section-1 .u-group-11 {
    height: auto;
  }

  .u-section-1 .u-image-6 {
    height: auto;
  }

  .u-section-1 .u-btn-12 {
    padding-right: 84px;
    padding-left: 84px;
  }

  .u-section-1 .u-group-13 {
    height: auto;
  }

  .u-section-1 .u-image-7 {
    height: auto;
  }

  .u-section-1 .u-btn-14 {
    padding-right: 84px;
    padding-left: 84px;
  }

  .u-section-1 .u-group-15 {
    height: auto;
  }

  .u-section-1 .u-image-8 {
    height: auto;
  }

  .u-section-1 .u-btn-16 {
    padding-right: 84px;
    padding-left: 84px;
  }

  .u-section-1 .u-group-17 {
    height: auto;
  }

  .u-section-1 .u-image-9 {
    height: auto;
  }

  .u-section-1 .u-btn-18 {
    padding-right: 84px;
    padding-left: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-5 {
    margin-left: 395px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-5 {
    margin-left: 215px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-15 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-17 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-18 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-5 {
    margin-left: 15px;
  }
}